<html>
  <head>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/underscore.js"></script>
    <script src="static/js/backbone.js"></script>

    <script src="static/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    
    <script class="cardTemplate" type="application/text">
      <td>
        <img class="card" src="<%= url %>">
      </td>
    </script>
  </head>
  <body>
    <div class="data" style="display: none;">
      {{ data }}
    </div>
    <div class="toolbar"></div>

    <center>
      <div>
        <table border="1">
          <tr>
            <th>
            </th>
            <th>
              Player Money
            </th>
            <th>
              Computer Money
            </th>
          </tr>
          <tr>
            <td>
              Wallet
            </td>
            <td class="playerWallet">
            </td>
            <td class="computerWallet">
            </td>
          </tr>
          <tr>
            <td>
              Pool
            </td>
            <td class="playerPool">
            </td>
            <td class="computerPool">
            </td>
          </tr>
        </table>
      </div>
      <div class="winContainer">
        <h3>Winner</h3>
        <div class="winner"></div>
      </div>
      <div>
        <h3>% to Win</h3>
      </div>
      <div class="percent">
      </div>
      <div>
        <h3>Bets</h3>
      </div>
      <div class="bets">
      </div>
      <h3>Hand Cards</h3>
      <table>
        <tr class="handCards">
        </tr>
      </table>
      <h3>Computer Cards</h3>
      <input type="checkbox" class="hide" checked>Hide Computer Cards
      <table>
        <tr class="computerCards">
        </tr>
      </table>
      <h3>Hole Cards</h3>
      <table>
        <tr class="holeCards">
        </tr>
      </table>
      <button class="raise">Raise</button><button class="check">Check</button><button class="fold">Fold</button><br>
      <a href="/?reset=1&which=0">New game as big blind</a> <a href="/?reset=1&which=1">New game as small blind</a><br>
      <a href="/?resetWallet=1">Reset Wallet</a>
    </center>
  </body>
</html>
